.Asset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 120px;
  }

  .smaller-image {
    width: 100px;
    height: 100px; 
    border-radius: 50%; 
  }