.NavBar {
  font-family: "Varela Round", sans-serif;
  background-color: #D278C7;
}

.NavBar a:hover {
  text-decoration: none;
  color: #ffffff;
}

.NavBar a:hover i {
  color: #E8530C;
  transition: color ease-in-out 0.3s;
}

.NavLinkOne {
  padding-top: 7px;
}

.NavLinkTwo {
  padding-top: 2px;
}

.NavBar i {
  color: #2C28B0;
  padding: 0px 8px 0px 8px;
  vertical-align: middle;
  font-size: 0.9rem;
}

.NavBar i:hover {
  cursor: pointer;
  transition: color ease-in-out 0.3s;
  color: #C70FBA;
}

.NavBar span {
  vertical-align: middle;
}

.NavBrand span {
  color: #231898;
  font-size: 30px;
  vertical-align: middle;
}

.NavBrand i {
  font-size: 1.2rem;
  vertical-align: middle;
  padding: 5px;
}

.Active i {
  color: #E8530C;
}



